name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-rust:

    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-22.04
          - macos-latest
        profile:
          - dev
          - release

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
    - uses: maxim-lobanov/setup-xcode@v1
      if: matrix.os == 'macos-latest'
      with:
        xcode-version: 'latest'
    - name: Build
      run: cargo build --profile ${{ matrix.profile }} --verbose
    - name: Run tests
      run: cargo test --verbose --all
    - name: Check code format
      run: cargo fmt --check --verbose --all
    - name: Check clippy errors
      run: cargo clippy --all-targets
